@model RoleViewModel

<h2>Delete Role</h2>

<div>
    <h4>Role details:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
    </dl>

    <div>
        @using (Html.BeginForm("Delete", "Role", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Delete</button>
        }
    </div>
</div>
