
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="/User/Logout">Logout</a>
        </li>
        
        
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/User/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Signup">Register</a>
        </li>
        
    }
</ul>

